@main("Chicago Trauma Desert")(null)(null)(null) {
<div class="row">
   <div class="span14">
		<div class="well">
	    	<div id="references">
	    		<h3>This is the References Page</h3>
	    		<div class="section">
			    	<ul>
			    		<li>
			    			http://www.idph.state.il.us/ems/traumaregions.htm
			    			<br>-- List of Trauma Hospitals and Status by Region in Illinois
			    		</li>
			    		<li>
			    			https://developers.google.com/maps/documentation/distancematrix/
			    			https://developers.google.com/maps/documentation/javascript/distancematrix
			    			<br>-- API used to calculate drive times to hospitals
			    		</li>
		    		
		    		
		    		
		    	</div>
		    	</ul>
	    	</div>
	    </div>
    </div>
</div>

}