@import helper.twitterBootstrap._

<div class="topbar">
    <div class="fill">
		<div class="container">
			<a class="brand" href="@controllers.routes.Application.index()">Chicago Trauma Desert</a>

			<ul class="nav">
				<li><a href="@controllers.routes.Application.showMap()">Map</a></li>
			</ul>
			
			<ul class="nav">
				<li><a href="@controllers.routes.Application.showAbout()">About</a></li>
			</ul>
				
			<ul class="nav">
				<li><a href="@controllers.routes.Application.showReferences()">References</a></li>
			</ul>
				
			<ul class="nav">
				<li><a href="@controllers.routes.Application.showResources()">Resources</a></li>
			</ul>
		</div>
	</div>
</div>